html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  opacity: 0;

  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
